<div class="container">

	
	<h1><%= @artist.name %></h1>
	<h3> Albums (<%= @album.length %>)</h3>
	</br>
	</br>

	  <div class="row">



	  	<div class="col-md-8">



	  	<%  @album.each do |album| %>


	  	<div class="col-sm-6 col-md-4">
	  	    <div class="thumbnail">
	  	      <img src="<%= album.image_url %>" alt="<%= album.name %>">
	  	      <div class="caption">
	  	        <strong><%= album.name %></strong>
	  	       	<p> <%= album.released_at %> </p>
	  	      </div>
	  	    </div>
	  	  </div>
	   
		<% end %>
		</div>


		<div class="col-sm-6 col-md-4">

			<div class="thumbnail">
	  	      <img src="<%= @artist.image_url %>" alt="<%= @artist.name %>">
	  	    </div>




		</div>

	





	   </div>
</div>